.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* Cards Swap Assignment */

.cards-1-layout ul li {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  flex: 1;
}
 
.cards-2-swap-layout ul li {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  text-align: center;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  flex: 1;
}
 
.cards-1-section {
  padding-top: 20px;
  background-color: antiquewhite;
}
 
.cards-2-section {
  padding-top: 20px;
  background-color:darkgray
}
 
 
html[lang='ar'] .cards-card-body p {
    color: green;
}
 
html[lang='en'] .cards-card-body p {
  color: red;
}